@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --light-blue: hsl(207, 100%, 98%);
  --regular-blue: hsl(204, 70%, 53%);
  --bg-color: #fff;
  /* --bg-color: #f0f0f0; */
  --greyy: hsla(0, 0%, 50%, 1);
  --white: #fff;
  --font-color: #333;
  --font-fam: "Quicksand", Calibri;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* native tags styling */
html {
  font-family: var(--font-fam);
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
}

#wrapper {
  background-color: var(--bg-color);
  width: 63rem;
  width: 100%;
  margin: auto;
}

h2 {
  text-align: center;
  color: var(--font-color);
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
}

input {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cgpa {
  display: flex;
}

#cgpa #refresh img {
  margin-right: 0.5rem;
  transition: transform 4s;
}

#cgpa #refresh img:active {
  transform: rotateZ(720deg);
}

.pw-inpt {
  position: relative;
}

.hide-pwd {
  position: absolute;
  right: 3.5%;
  top: 60%;
  transform: translateY(-50%);
  z-index: 111;
}

.eye {
  height: 1.2rem;
  width: auto;
  opacity: 0.7;
}

#no-show,
.no-show {
  display: none;
}

input:focus {
  outline-color: rgb(161, 200, 253);
}

a:focus,
button:focus {
  outline-color: rgb(80, 80, 80);
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--regular-blue);
}

.bold {
  font-weight: 600;
}

#fgt-password {
  float: right;
}

/* student's bio data */
#bio-data {
  position: relative;
}

#cred {
  color: var(--regular-blue);
  font-weight: 600;
}

#hide {
  position: absolute;
  top: 0;
  right: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.overlay {
  display: none;
}

.form-group {
  margin: 5px 0;
}

#submit-btn {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.small {
  font-size: 0.8rem;
}

.foot {
  text-align: center;
}

.btn {
  border-radius: 4px;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 0;
  background-color: var(--regular-blue);
  color: var(--white);
  border: none;
  transition: background-color 0.3s;
  font-family: var(--font-fam);
  cursor: pointer;
}

.btn:hover {
  background-color: #2185d0;
}

.anchor-btn {
  display: inline-block;
  height: unset;
  width: 8rem;
  padding: 10px;
  text-align: center;
}
#delete-btn {
  background-color: rgb(255, 38, 38);
  transition: background-color 0.3s;
}

#delete-btn:hover {
  background-color: rgb(222, 21, 21);
}
.del #delete-btn {
  margin-top: 1rem;
}

/* messages alert */
#flash-msg {
  position: absolute;
}
.alert {
  font-size: 0.8rem;
  line-height: 1rem;
  color: black;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 0.3rem;
  /* border-radius: 4px; */
}

.alert-success {
  background-color: hsla(120, 97%, 74%, 0.4);
}

.alert-error {
  background-color: hsla(352, 90%, 81%, 0.8);
}

.alert-warning {
  background-color: rgb(255, 255, 172);
}

.error-msg {
  color: hsla(0, 94%, 57%, 1);
  text-align: right;
  font-size: 0.7rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header {
  margin-bottom: 2rem;
  position: relative;
}

#logo {
  display: inline-block;
  height: 100%;
  width: fit-content;
  font-size: 1.8rem;
  font-weight: 900;
}

.auth-btn {
  width: 6.625rem;
  height: 2.0833333333333335rem;
  font-size: 0.8333333333333334rem;
}

#auth #login {
  background-color: var(--bg-color);
  color: var(--regular-blue);
}

#header-top {
  padding: 0rem 5rem;
  line-height: 3rem;
  box-shadow: 0 2px 15px 0 hsla(0, 0%, 50%, 0.1);
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light-blue);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.hamburger-menu {
  display: none;
}
.space-around {
  justify-content: space-around;
}

/* course table */
#per-course,
#per-course td {
  padding: 15px 0;
  width: 50%;
  border: 1px solid var(--light-blue);
  font-size: 1.5rem;
  font-weight: 600;
}
#per-course {
  width: 90%;
  margin: 3rem auto;
  border-radius: 10px;
}
#per-course td:first-of-type {
  text-align: left;
}
#per-course td:last-of-type {
  text-align: right;
}

/* result table */
table,
td,
thead {
  border-collapse: collapse;
  border: 1px solid var(--light-blue);
}
thead tr td {
  border-top: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
}

table {
  width: 100%;
}

thead {
  /* position: sticky; */
  top: 0;
  /* background-color: var(--regular-blue); */
  background-color: var(--light-blue);
  color: var(--font-color);
  font-weight: 600;
}

tr:hover,
tr:focus-within {
  background: var(--light-blue);
  outline: none;
}

tr:active {
  background: hsla(204, 70%, 53%, 0.2);
  outline: none;
}

thead td,
table a {
  padding: 0.3rem 1.5rem;
}

td a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: 0;
  }
}

/* main */
main {
  position: relative;
  width: 80%;
  margin: 4rem auto 0;
}
.results {
  margin-bottom: 3rem;
}

/* Media Queries */

/* @media screen and (max-width: 1512px) {
  html {
    font-size: 1.5873015873015872vw;
  }
  #wrapper {
    width: 63rem;
  }
} */

/* Mobile View */
@media screen and (max-width: 480px) {
  * {
    padding: 0;
    border: 0;
    box-sizing: 0;
  }

  html {
    font-size: 3.4vw; /* This will make the font-size to be 16px when the viewport width is 375px */
  }

  #wrapper {
    position: relative;
    width: 100%;
  }

  .container {
    width: 90%;
  }

  /* End of handling the hamburger menu */
  #logo {
    margin: auto 0;
    font-size: 1.6rem;
    height: 100%;
  }

  #header-top {
    width: 100%;
    padding: 0.6rem 0.5rem;
    height: fit-content;
    line-height: 2.5rem;
    position: relative;
  }

  .small {
    font-size: 1rem;
  }

  .desktop {
    /* to set display of desktop parameters to none for mobile */
    display: none;
  }

  /* hamburger menu */
  .hamburger-menu {
    margin: auto 0;
    display: block;
    height: 100%;
    width: 2rem;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    z-index: 111;
  }

  .ham-bar {
    width: 100%;
    height: 2px;
    background-color: var(--font-color);
    background-color: var(--regular-blue);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s, opacity 0.1s, top 0.6s;
    z-index: 111;
  }

  .bar-top {
    top: 30%;
  }

  .bar-mid {
    display: none;
  }

  .bar-bottom {
    top: 70%;
  }

  .hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
  }

  .hamburger-menu.active .bar-mid {
    opacity: 0;
  }

  .hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
  }

  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    display: block;
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .auth-btn {
    transition: 0.3s; /* Transition effects on hover (color) */
    display: block; /* Display block instead of inline */
    color: #f0ebeb;
    width: 100%;
    height: 3rem;
    background-color: rgba(45, 45, 45, 1);
    font-size: 1rem;
  }

  .auth-btn:hover,
  .auth-btn:active {
    background-color: #2185d0;
    background-color: rgb(80, 80, 80);
    transition: background-color 0.3s;
  }

  #mobile-nav ul {
    position: relative;
    top: 20%;
  }
  #mobile-nav ul li a {
    display: block;
    width: 80%;
    margin: 2rem auto;
  }

  /* result table */
  thead td,
  table a {
    padding: 0.1rem 0.2rem;
  }
  table,
  td,
  thead {
    font-size: 0.7rem;
  }
  thead tr td {
    border-top: 2px solid var(--font-color);
    border-bottom: 2px solid var(--font-color);
  }

  thead {
    /* position: sticky; */
    top: 0;
  }

  /* main */
  main {
    position: relative;
    width: 95%;
    margin: 2rem auto 0;
  }
}
