/* @import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Quicksand:wght@400;500;600;700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: "Quicksand", Calibri;
  font-size: 18px;
}
body {
  background-color: #f0f0f0;
}

#submit-btn {
  font-family: "Source Code Pro", Calibri;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsl(207, 100%, 98%);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}


label {
  font-size: 1rem;
  font-weight: 800;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.details {
  margin-top: 30px;
  color: #3498db;
  display: flex;
  justify-content: space-between;
}
.name {
  text-align: left;
}
.foot a {
  color: #3498db;
}

#fgt-password {
  color: #3498db;
  float: right;
}

.small {
  font-size: 0.5rem;
}

.foot {
  margin-top: 2rem;
  text-align: center;
}

.form-group {
  margin: 5px 0;
}

#submit-btn,
.logout,
.upload {
  width: 100%;
  padding: 0.8rem 0;
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit-btn:hover {
  background-color: #2185d0;
}

.alert {
  font-size: 1rem;
  line-height: 1rem;
  color: black;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  border-radius: 4px;
}
.alert-success {
  background-color: hsla(120, 73%, 75%, 0.4);
}
.alert-error {
  background-color: hsla(351, 100%, 86%, 0.8);
}
.alert-warning {
  background-color: rgb(255, 255, 208);
}
.error-msg {
  color: hsla(0, 94%, 57%, 1);
  text-align: right;
  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 0;
}

.top {
  display: flex;
  justify-content: space-between;
}
.upload {
  padding: 3px 10px;
  width: fit-content;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  .logout {
    top: unset;
    bottom: 25px;
    right: 5px;
    height: fit-content;
  }
}
