{% extends 'base/base.html' %}
{% load static %}


{% block title %}Dashboard{% endblock title %}

{% block head %}
{% endblock head %}


{% block content %}
<div class="container">
    <div id="bio-data">
        <div id="hide">
            <img src="{% static 'images/icons/eye-svgrepo-com.svg' %}" alt="" class="eye">
            <img src="{% static 'images/icons/eye-slash-svgrepo-com.svg' %}" alt="" class="eye no-show">
        </div>
        <div class="name">
            <span class="surname">{{ user.last_name|upper }},</span><br>
            {{ user.first_name }} {{ user.middle_name }}
        </div>
        <div id="cred" class="flex">
            <p id="matric">{{ user.matric }}</p>
            <div id="cgpa">
                <div id="refresh" class="no-show">
                    <img src="{% static 'images/icons/refresh-cw-svgrepo-com.svg' %}" alt="" class="eye">
                </div>
                <p id="cgpa_value" class="no-show">
                    {{ user.cgpa|floatformat:2 }}
                </p>
                <p>
                    ****
                </p>
            </div>
        </div>
    </div>

</div>

<main>
    {% for result in user.results.all %}

    <div class="results">
        {% include 'results/includes/table.html' with result=result %}
    </div>
    {% endfor %}
</main>
{% endblock content %}
{% block script %}
<script>
let refreshBtn = document.querySelector("#refresh");
let cgpaVal = document.querySelector("#cgpa_value);


refreshBtn.addEventListener("click", () => {
    let cgpa = cgpaVal.innerText;
    fetch(window.location.hostname + "{% url 'dashboard:refresh' %}", {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            cgpaVal.innnerText = Math.round(JSON.parse(data)["cgpa"], 2);
        })
        .catch(error => {
            cgpaVal.innerText = cgpa;
            console.log(`Error ${error}`); 
        });
});
</script>
{% endblock script %}