{% extends 'base.html' %}
{% load static %}


{% block title %}Dashboard{% endblock title %}


{% block content %}
<div id="bio-data">
    <div id="hide">
        <img src="{% static 'images/icons/eye-svgrepo-com.svg' %}" alt="" class="eye no-show">
        <img src="{% static 'images/icons/eye-slash-svgrepo-com.svg' %}" alt="" class="eye">
    </div>
    <div class="name">
        <span class="surname">{{ user.last_name|upper }},</span><br>
        {{ user.first_name }} {{ user.middle_name }}
    </div>
    <div id="cred" class="flex">
        <p id="matric">{{ user.matric }}</p>
        <div id="cgpa">
            <p>{{ user.cgpa|floatformat:2 }}</p>
            <p class="no-show">****</p>
        </div>
    </div>
</div>
{% endblock content %}